html, body { margin: 0; padding: 0; }
#container { width: 800px; margin:0 auto; }

/* general style rules */
a {
    text-decoration:none;
}

/* navigation */
#nav ul {
    list-style-type:none;
}
#nav ul li {
    float:left;
    height:40px;
}
#nav ul li a {
    height:100%;
    line-height:40px;
    float:left;
    padding:0 10px;
}