%fieldset
  %legend Levy penalty/fee

  = form_for(@applicable_fee, :action => url(:controller => :applicable_fees, :action => :create), :method => "POST") do
    = partial "applicable_fees/fields"


