%h1
  - @text = ((params[:type] and params[:type] == "custom_reports") ? "custom Report" : "bookmark")
  = @text.pluralize.capitalize
.menu-strip
  = link_to("Create New #{@text}", "/search/reporting", :class => "add")
= partial :list
