- unless request.xhr?
  %h1 New Bookmark
  
= error_messages_for @bookmark
%div{:class => (request.xhr? ? "floatingBox autoPosition" : "")}
  - if request.xhr?
    %a.closeButton
      [close]
  = form_for(@bookmark, :action => resource(:bookmarks), :class => "_remote_", :id => "form_for_bookmark_saving") do  
    = partial :fields
  