.graph_page  
  %h1
    Client added by date
  = @graph1
.graph_page
  %h1
    Per branch growth
  = @graph2
.graph_page
  %h1
    Client cummulative growth
  = @graph3
.graph_page
  %h1
    Aggregate loan graph
  = @graph4


