%table.form
  %tr
    %td
      Branch name:
    %td
      = text_field :name, :size => 40
      %br/
      %span.greytext the name by which the branch is known
  %tr
    %td
      Address:
    %td
      ~ text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      Managed by:
    %td
      = select_staff_member_for @branch, :manager
      %br/
      %span.greytext pick the staff member that manages this branch
  %tr
    %td
    %td
      = submit submit_text
      &nbsp;&nbsp;
      = link_to 'cancel', resource(:branches)