- form_url   = url(:controller => params[:controller], :action => 'update', :id => @branch, :return => params[:return])
- cancel_url = params[:return] ? params[:return] : resource(@branch)
= form_for(@branch, :action => form_url, :class => "") do
  %h1== Edit the '#{@branch.name}' branch details
  = error_messages_for @branch
  %fieldset 
    = partial "branches/fields", :submit_text => "Save changes", :cancel_url => cancel_url
