%table.moreinfo
  %tr
    %td
      Branch formation date
    %td
      =@branch.created_at||@centers.sort_by{|x| x.created_at}[0].created_at.strftime($globals[:mfi_details] && $globals[:mfi_details][:date_format] ? $globals[:mfi_details][:date_format] : "%d-%m-%Y")
  %tr
    %td
      Number of Centers
    %td
      =@centers_count
  %tr
    %td
      Number of Groups
    %td
      =@groups_count
  %tr
    %td
      Number of Clients
    %td
      =@clients_count
  %tr
    %td
      Number of borrower clients
    %td
      =@loan_data.loans_count
  %tr
    %td
      Total Amount Outstanding
    %td
      =@loan_data.actual_outstanding_principal.to_currency
  %tr
    %td
      Total Principal Overdue
    %td
      =@defaulted.principal.to_currency
  %tr
    %td
      Total Interest Overdue
    %td
      =(@defaulted.total.to_i-@defaulted.principal.to_i).to_currency
  %tr
    %td
      Number of center managers
    %td
      =@branch.centers.managers.count
