%table.moreinfo
  %tr
    %td
      Branch formation date
    %td
      =@branch.creation_date.strftime($globals[:mfi_details] && $globals[:mfi_details][:date_format] ? $globals[:mfi_details][:date_format] : "%d-%m-%Y")
  %tr
    %td
      Number of Centers
    %td
      =@centers_count
  %tr
    %td
      Number of Groups
    %td
      =@groups_count
  %tr
    %td
      Number of Clients
    %td
      =@clients_count
  %tr
    %td
      Number of borrower clients
    %td
      =(@loan_data and @loan_data.length>0) ? @loan_data.first.loans_count : 0
  %tr
    %td
      Total Amount Disbursed
    %td
      =@loan_disbursed.amount.to_currency
  %tr
    %td
      Total Amount Outstanding
    %td
      =(@loan_data and @loan_data.length>0 and @loan_data.first.actual_outstanding_principal) ? @loan_data[0].actual_outstanding_principal.to_currency : "-"
  %tr
    %td
      Principal Received
    %td
      =(@payments and @payments[:principal]) ? @payments[:principal].to_currency : "0"
  %tr
    %td
      Interest Received
    %td
      =(@payments and @payments[:interest]) ? @payments[:interest].to_currency : "0"
  %tr
    %td
      Fee Received
    %td
      %table        
        -@fees.each do |fee, amount|
          %tr
            %td
              =fee
            %td
              =amount
  %tr
    %td
      Total Principal Overdue
    %td
      =@defaulted.principal ? @defaulted.principal.to_currency : "-"
  %tr
    %td
      Total Interest Overdue
    %td
      -if @defaulted.total and @defaulted.principal
        =(@defaulted.total.to_i-@defaulted.principal.to_i).to_currency
      -else
        -
  %tr
    %td
      Number of center managers
    %td
      =@branch.centers.managers.count
  %tr
    %td
      Managers
    %td
      %ul
        =@branch.centers.managers.collect{|sm| "<li>#{link_to(sm.name, resource(sm))}</li>"}.join
