%h1
  Loan products
%table
  - [:name, :loan_type, :min_amount, :max_amount, :min_interest_rate, :max_interest_rate, :min_number_of_installments, :max_number_of_installments, :installment_frequency, :valid_from, :valid_upto, :payment_validation_methods].each do |attr|
    %tr
      %td
        = attr.humanize
      %td
        = @loan_product.send(attr)
= link_to 'Edit',  url(:edit_loan_product,  @loan_product)
|
= link_to 'Back', url(:loan_products)
