%h1
  ReportFormats controller, show action
%p
  Edit this file in
  %tt
    app/views/report_formats/show.html.erb

= link_to 'Edit',  url(:edit_report_format,  @report_format)
|
= link_to 'Back', url(:report_formats)