%script{:src => javascript_path('admin.js'), :type => "text/javascript"}

#change-password
  %form.ajaxy{:action => "/maintain/admin/update_password",
              :method => "POST",
              :reload_url => "/maintain/admin",
              :icon => image_path('password.png'),
              :processing => "Updating password...",
              :true => "Password changed.",
              :same_password => "The new password cannot be the same as the old one.",
              :different_passwords => "The password and password confirmation did not match."}
    #fields
      %table
        %tbody
          %tr
            %td New password:
            %td
              %input{:type => "password", :name => "password"}
          %tr
            %td Confirm new password:
            %td
              %input{:type => "password", :name => "password_confirmation"}        

    .button-group
      %input{:type => "button", :name => "submit", :value => "Submit"}
      %input.ajax-fetch{:type => "button", :value => "Cancel", :url => "/maintain/admin"}