%h1
  FundingLines controller, show action
%p
  Edit this file in
  %tt
    app/views/funding_lines/show.html.erb

= link_to 'Edit',  url(:edit_funding_line,  @funding_line)
|
= link_to 'Back', url(:funding_lines)