%table
  %tr
    %th
      = I18n.t "occupation.fields.name", :default => "Name"
    %td
      = text_field :name
  %tr
    %th
      = I18n.t "occupation.fields.code", :default => "Code"
    %td
      = text_field :code
    
