%h1 Occupations controller, new action

%p 
  Edit this file in 
  %tt app/views/occupations/new.html.erb

= error_messages_for @occupation

= form_for(@occupation, :action => url(:occupations) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:occupations)