%h1
  Occupations
%table
  %tr.odd
    %td Id
    %td=@occupation.id
  %tr
    %td Value
    %td=@occupation.name
  %tr.odd
    %td Code
    %td=@occupation.code.blank? ? '-' : @occupation.code
= link_to 'Edit',  url(:edit_occupation,  @occupation)
|
= link_to 'Back', url(:occupations)
