%h1
  Occupations controller, show action
%p
  Edit this file in
  %tt
    app/views/occupations/show.html.erb

= link_to 'Edit',  url(:edit_occupation,  @occupation)
|
= link_to 'Back', url(:occupations)