- @history_items = DataMapper.repository(:maintainer) { Maintainer::HistoryItem.all(:order => [:time.desc]) }

#history
  - if @history_items.length > 0
    %ul
      - @history_items.each do |item|
        %li.history-item= item.stringify
  - else
    %p Any actions performed in Mostfit Maintainer will be logged here.
      