%h1 Mostfit advanced search tool
=form(:id => "reporting_form",  :action => "/search/reporting") do
  &nbsp;
  %b Branch
  = select :name => "model", :id => "model", :collection => model_names, :prompt => "choose model"
  &nbsp;
  %b Property
  = select :name => "property", :id => "property", :collection => [], :prompt => "choose property"
  &nbsp;
  %b operator
  = select :name => "operator", :id => "operator", :collection => [], :prompt => "choose operator"
  &nbsp;
  %b values
  %span#value

  =submit "Go"
