%h1
  AssetRegisters controller, show action
%p
  Edit this file in
  %tt
    app/views/asset_registers/show.html.erb

= link_to 'Edit',  url(:edit_asset_register,  @asset_register)
|
= link_to 'Back', url(:asset_registers)