%xml
  %handshake
    %product_name Mostfit
    %org_name 
    %api_version v1
    %server_name 
    %current_time #{DateTime.now.to_s}
    %currency_format ru
    %date_time_format %Y-%m-%dT%H:%M:%S+%Z
