%table.tall.shaded
  %tr
    %td{:align => "left"}
      %h3 
        Brand Mostfit with your organisation identity on the login screen
  %tr
    %td
      = text_area :main_text, :rows => 40, :cols => 120, :class => "mceEditor"