%h1
  Administration
%ul
  %li
    = link_to 'Manage Users', resource(:users)
  %li
    = link_to 'Manage loan products', resource(:loan_products)
  %li
    = link_to 'Upload data', url(:action => "upload")
