%h1 Insurance masters  
.shaded
  %h2
    Insurance companies
  .menu-strip
    = link_to "New insurance company", url(:new_insurance_company), :class => "add"
  = partial "insurance_companies/list"

.shaded
  %h2
    Insurance products
    .menu-strip
      = link_to "New insurance product", url(:new_insurance_product), :class => "add"
  = partial "insurance_products/list"