%h1
  Mostfit data upload
%p
  This is the place where your to-date MFI data in one go


%form{:action => "/admin/upload", :enctype => "multipart/form-data",  :method => "post"}
  %fieldset
    %h4
      Upload excal sheet containing worksheets for 
      %ol
        %li 
          Staff members
        %li
          Branches
        %li
          Centers
        %li
          Clients
        %li
          Loans
        %li
          Payments
        %li
          Loan products 
    %h4
      Download sample excel sheet 
      %a{:href => "/upload_data.xls"}
        here
      %br
      %b Do you Want to erase data ?
      = check_box :erase   
    %input{:name => "file", :size => "80",  :type => "file"}
    %input{:type => "submit", :value => "Upload"}
 
