%h1
  Mostfit data upload
%p
  Upload information for your past operations here, and you are ready to begin using Mostfit 
%p
  Download 
  %a{:href => "/upload_data.xls"}
    sample spreadsheet
%form{:action => "/admin/upload", :enctype => "multipart/form-data",  :method => "post"}
  %fieldset
    %p
      The spreadsheet can contain tabs for one or more of the following:
      %ol
        %li 
          Staff members
        %li
          Branches
        %li
          Centers
        %li
          Clients
        %li
          Loans
        %li
          Payments
        %li
          Loan products 
      %br
      %b Upload currently erases all existing data for the items you upload (handle with care!) 
    %input{:name => "file", :size => "80",  :type => "file"}
    %input{:type => "submit", :value => "Upload"}
