%h2
  Clients
=form_for(@clients, :action => url("verifications/update/clients")) do
  - if @clients and @clients.length>0
    %table{:width => "100%"}
      %tr{:style => "text-align: left;"}
        %th
          Name
        %th
          Reference
        %th
          Joining date
        %th
          Branch
        %th
          Center
        %th
          Group
        %th
          Created by
        %th
          Creation date
        %th
          %a{:href => "#", :onclick => "$('input.client_approval_box').attr('checked', true);"}
            Check all
          ==/
          %a{:href => "#", :onclick => "$('input.client_approval_box').attr('checked',false);"}
            Check none
      -@clients.each do |client|
        %tr
          %td
            =link_to(client.name, resource(client), :target => "BLANK")
          %td
            =client.reference
          %td
            =client.date_joined
          %td
            =client.center ? client.center.branch.name : "-"
          %td
            =client.center ? client.center.name : "-"
          %td
            =client.client_group ? client.client_group.name : "-"
          %td
            =client.created_by_user_id>0 ? client.created_by.login : "-"
          %td
            =client.created_at ? client.created_at.strftime($globals[:mfi_details] && $globals[:mfi_details][:date_format] ? $globals[:mfi_details][:date_format] : "%d-%m-%Y") : ""
          %td
            =check_box(:name => "clients[#{client.id}][]", :class => "client_approval_box", :value => 1)
      %tr
        %td{:colspan => 8}
        %td
          =submit("Approve")
  -else
    %i==No pending verifications
