%h2
  Loans
=form_for(@loans, :action => url("verifications/update/loans")) do
  - if @loans and @loans.length>0
    %table{:width => "100%"}
      %tr{:style => "text-align: left;"}
        %th
          ID
        %th
          Client Name
        %th
          Amount
        %th
          Appication date
        %th
          Disbursal date
        %th
          Branch
        %th
          Center
        %th
          Group
        %th
          Created by
        %th
          Creation date
        %th
          %a{:href => "#", :onclick => "$('input.loan_approval_box').attr('checked', true);"}
            Check all
          ==/
          %a{:href => "#", :onclick => "$('input.loan_approval_box').attr('checked',false);"}
            Check none
      -@loans.each do |loan|
        -client=loan.client
        %tr
          %td
            =link_to(loan.id, resource(loan), :target => "BLANK")
          %td
            =client.name
          %td
            =loan.amount
          %td
            =loan.applied_on
          %td
            =loan.disbursal_date
          %td
            =client.center ? client.center.branch.name : "-"
          %td
            =client.center ? client.center.name : "-"
          %td
            =client.client_group ? client.client_group.name : "-"
          %td
            =loan.created_by_user_id and loan.created_by_user_id>0 ? client.created_by.login : "-"
          %td
            =loan.created_at ? loan.created_at.strftime($globals[:mfi_details] && $globals[:mfi_details][:date_format] ? $globals[:mfi_details][:date_format] : "%d-%m-%Y") : ""
          %td
            =check_box(:name => "loans[#{loan.id}][]", :class => "loan_approval_box", :value => 1)
      %tr
        %td{:colspan => 9}
        %td
          =submit("Approve")
  -else
    %i==No pending verifications    
