%h1
  Pending approval
-if params[:model]
  =date_select("date")
  =partial "verifications/#{params[:model]}" rescue nil
-else
  %br
  %ul
    -[:loans, :payments, :clients].each do |model|
      %li
        =link_to("List unverified #{model}", resource(:verifications, {:model => model}))
        (
        =instance_variable_get("@#{model}_count")
        )
