%h1
  StockRegisters controller, show action
%p
  Edit this file in
  %tt
    app/views/stock_registers/show.html.erb

= link_to 'Edit',  url(:edit_stock_register,  @stock_register)
|
= link_to 'Back', url(:stock_registers)