%a.expand_collapsed{:style => "color: green"}
  Change parameters
.collapsed
  %form{:action => (@portfolio.new? ? resource(@funder, :portfolios, :new) : resource(@funder, @portfolio, :edit)), :method => :get, :style => "width: 50%"}
    %table
      %tr
        %th
          Branch
        %td
          = select :branch_id, :collection => Branch.all.map{|b| [b.id, b.name]}, :prompt => "Select branch"
        %th
          Add as on
        %td
          = date_select :added_on, params[:added_on]||Date.today
        %th
          Disbursed after
        %td
          = date_select :disbursed_after, params[:disbursed_after]||Date.min_date
        %td
          = submit "change"
