%table.report.nojs{:width => "100%"}
  %tr
    %th
      For
    %th
      Action
    %th
      Changes
    %th
      Date
    %th
      User
  -@trails.each do |trail|
    %tr
      %td
        =link_to "#{trail.auditable_type} #{trail.auditable_id}", url(:controller => trail.auditable_type.pluralize.downcase, :action => "show", :id => trail.auditable_id)
      %td.text
        =trail.action
      %td.text
        %table{:width => '100%'}
          =diff_display(trail.changes, trail.auditable_type, trail.action)
      %td
        =trail.created_at.strftime("%d-%m-%Y %H:%M")
      %td
        =trail.user ? trail.user.login : "admin"
