%h1 LoanPurposes controller, new action

%p 
  Edit this file in 
  %tt app/views/loan_purposes/new.html.erb

= error_messages_for @loan_purpose

= form_for(@loan_purpose, :action => url(:loan_purposes) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:loan_purposes)