%h1
  Loan Purpose
%table
  %tr.odd
    %td Id
    %td=@loan_purpose.id
  %tr
    %td Name
    %td=@loan_purpose.name
  %tr.odd
    %td Code
    %td= @loan_purpose.code.blank?  ? '-' : @loan_purpose.code
  %tr
    %td Classified Under
    %td= @loan_purpose.parent_id != 0 ? LoanPurpose.get(@loan_purpose.parent_id).name : '-'
= link_to 'Edit',  url(:edit_loan_purpose,  @loan_purpose)
|
= link_to 'Back', url(:loan_purposes)
