%h1
  LoanPurposes controller, show action
%p
  Edit this file in
  %tt
    app/views/loan_purposes/show.html.erb

= link_to 'Edit',  url(:edit_loan_purpose,  @loan_purpose)
|
= link_to 'Back', url(:loan_purposes)