%h1
  HolidayCalendarHolidays controller, show action
%p
  Edit this file in
  %tt
    app/views/holiday_calendar_holidays/show.html.erb

= link_to 'Edit',  url(:edit_holiday_calendar_holiday,  @holiday_calendar_holiday)
|
= link_to 'Back', url(:holiday_calendar_holidays)