body {

          font-family: Arial,Helvetica,Sans-Serif; 
          font-weight: normal; 
          font-size: 11px;  
          color: #333333; 
          text-align: left; 
          line-height: 15px;

}


A:link {
	COLOR: #bc6624;
          text-decoration: none;
          font-weight: normal; 
}

A:visited {
	COLOR: #904a17;
          text-decoration: none;
          font-weight: normal; 
}
A:active {
	COLOR: #bc6624;
          text-decoration: none;
          font-weight: normal; 
}
A:hover {
	 COLOR: #bc6624;
          text-decoration: underline;
          font-weight: normal; 
}

h1

{
    font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 0;
	font-size: 17px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

H1 a:link {
	COLOR: #bc6624;
          text-decoration: none;
          font-weight: normal;
}

H1 a:visited {
	COLOR: #904a17;
          text-decoration: none;
          font-weight: normal;
  
}
H1 a:active {
	COLOR: #471b00;
          text-decoration: none;
          font-weight: normal;
 
}
H1 a:hover {
	 COLOR: #bc6624;
          text-decoration: underline;
          font-weight: normal;
}



h2
{
          font-family: Lucida Sans,Arial,Helvetica,Sans-Serif; 
          font-weight: 500; 
          font-size: 13.5px;
          letter-spacing: 0.25mm; 
          color: #333333; 
          text-align: left; 
          line-height: 15px;
}

H2 a:link {
	COLOR: #bc6624;
          text-decoration: none;
          font-weight: 500;
}

H2 a:visited {
	COLOR: #904a17;
          text-decoration: none;
          font-weight: 500;
  
}
H2 a:active {
	COLOR: #5e2401;
          text-decoration: none;
          font-weight: 500;
 
}
H2 a:hover {
	 COLOR: #bc6624;
          text-decoration: underline;
          font-weight: 500;
}



h3
{
    font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #333333;
}

H3 a:link {
	COLOR: #bc6624;
          text-decoration: none;
          font-weight: bold;
}

H3 a:visited {
	COLOR: #904a17;
          text-decoration: none;
          font-weight: bold;
  
}
H3 a:active {
	COLOR: #5e2401;
          text-decoration: none;
          font-weight: bold;
 
}
H3 a:hover {
	 COLOR: #bc6624;
          text-decoration: underline;
          font-weight: bold;
}




h4
{
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 17px;
	color: #666666;
}

h5
{
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: normal; 
	line-height: 14px;
	color: #471b00;
}

blockquote
{
    font-family: Arial,Helvetica,Sans-Serif; 
	margin-right:13px; 
	margin-left:13px
	padding: 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-align: center; 
	color: #471b00;
}

.blurb {
	font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 0;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #333333;
}


.list {
	font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 6px 6px 6px 0px;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #333333;
}

.map-title

{
    font-family: Arial,Helvetica,Sans-Serif; 
	margin: 6px 4;
	padding: 0;
	font-size: 20px;
	line-height: 21px;
	font-weight: normal;
	color: #bc6624;
}

.map-sub
{
          font-family: Arial,Helvetica,Sans-Serif; 
          font-weight: 500; 
          font-size: 13px;
          letter-spacing: 0.10mm; 
          color: #471b00; 
          text-align: left; 
          line-height: 14px;
}




.breadcrumbs {
	font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 0;
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	color: #333333;
}

	.breadcrumbs a {
		font-size: 10px;
		color: #904a17;
		text-decoration: none;
	}

	.breadcrumbs a:hover {
		text-decoration: underline;
	}



.footer {
	width: 950px;
	height: 19px;
	margin-top: 14px;
	padding-top: 3px;
	color: #fff;
	background-color: #d9792d;
	text-align: center;
	font-size: 11px;
	line-height: 17px;
}

	.footer a {
		color: #fff;
		text-decoration: none;
	}
	
	.footer a:hover {
		text-decoration: underline;
	}


.vrule {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #f1eeca;
}

 hr {
          border: 0;
          width: 100%;
          color: #f1eeca;
          background-color: #f1eeca;
          height: 2px;
}

#navBlockLeve10 {
	background-color:#d9792d
}

navBlockItemLeve10 {
	font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 0;
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	color: #fff;
}

	#navBlockItemLeve10 a {
		color: #fff;
		text-decoration: none;
	}
	
	#navBlockItemLeve10 a:hover {
		text-decoration: underline;
	}

#navBlockLeve10Selected {
	height: 24px;
	background-color:#003d4a
}


#navBlockLeve11 {
	background-color:#003d4a
}


navBlockItemLeve11 {
	font-family: Arial,Helvetica,Sans-Serif; 
	margin: 2px 0;
	padding: 0;
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	color: #fff;
}

	#navBlockItemLeve11 a {
		color: #003d4a;
		text-decoration: none;
		color: #fff;
	}
	
	navBlockItemLeve11 a:hover {
		text-decoration: underline;
	}

#navBlockLeve11Selected {
	background-color: #FFFFFF;
	color: #003d4a;
}

	#navBlockLeve11Selected a {
		color: #003d4a;
		text-decoration: none;
	}
	
	#navBlockLeve11Selected a:hover {
		color: #003d4a;
		text-decoration: underline;
	}

#detailsdownloadlink {
	font-size:10px;

}