body {
    background: #B0AA9A;
    color: #222;
    font-family: Helvetica, FreeSans,LiberationSans,Myriad Pro,Arial,Verdana,sans-serif;
    padding: 0px;
    margin: 0px;
}
h1 {
    color: #E88E02;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: 300;
}
h2, h3, h4, h5, h6 {
    color: #444;
    font-family: Arial,Helvetica,FreeSans,Arial,sans-serif;
    margin: 0.4em;
}
h1 {
  margin: 10px 4px 20px 4px;
}
h2 {
  margin: 16px;
}
.container {
  background: #fff;
  width: 80%;
  margin-left: 10%;
  padding: 0px 10px 10px 10px;
  min-height: 450px;
  border: 1px solid #c9c9c9;

}
.container a:link, .container a:visited, .container a:active{
  /*color: #bc6624;*/
  color: #466124;
  font-weight: bold;
  text-decoration: none;
}
.container a:hover {
  color: #d9792d;
  text-decoration: underline;
}


ol, ul, li { margin-left: .85em; }
/*.container ul li:before {content: "\2022\00a0\00a0"; }  REMOVED FOR FF3 */
ol { list-style-position: outside; list-style-type: decimal; }



/**************************************/
/*              HEADER                */
/**************************************/

#subheader
{
  background: #8DC73F;
  color: #fff;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
/*   width: 100%; */
  height: 20px;
}
#subheader #title
{
  width: 40%;
  float: left;
  font-size: 120%;
  
}
#subheader #right-nav
{
  width: 40%;
  float: right;
  text-align: right;
  font-size: 120%;
  margin-top: 0px;
  font-weight: normal;
}
h1.logo{
    left: 10%;
    position: absolute;
    top: 0px;
    height: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h1.logo span{
    vertical-align: top;
}
/**************************************/
/*             NAVIGATION             */
/**************************************/
#navigation
{
  background: white;
  position: absolute;
  top: 77px;
  left: 10%;
  width: 90%;
}

#navigation a {
  background:  #75B516 repeat scroll 0 0;
  padding: 4px 15px 3px 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.75em;
  margin: 0px;
  border: 1px solid #c9c9c9;
}
#navigation a:hover{
  background: #5C8F11;
}
#navigation a.selected{
  background: white;
  color: #3c3c3c;
  border-bottom: 0px 
  z-index:10;
}

#page-title h1 {
  font-size: 140%;
  margin-top: 5px;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

#content
{
  margin: 0px;
  position: relative;
}

.graph{
  float: right;
  margin-top: 0px;
}
.graph_page{
  float: left;
  margin: 20px;
}

#breadcrums {
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
}
#breadcrums a{
  font-size: 13px;
}

/*.box
{
  margin-bottom: 15px;
}
.box-narrowed
{
  padding-left: 10px;
  padding-right: 10px;
}
.box-title
{
  background: url(../images/home-header-bg.gif) 0 0 repeat-x #003568;
  padding: 3px 5px 2px 5px;
}
.box-title h1, .box-title h2, .box-title h3
{
  margin: 0px;
  color: #fff;
  padding: 0px;
}
.box-title h1 {  font-size: 150%; padding: 5px; }  
.box-title h2 {  font-size: 118%; padding: 5px; }
.box-title h3 {  font-size: 110%; }

.box-content
{
  padding: 3px 5px 0px 5px;
border: 1px solid #8c9292;
}
.box-content.topless
{
  border-top: 0px;
}*/

#content h1{
  font-size: 200%;
}
#content h2{
  font-size: 150%;
}
#content h3{
  font-size: 118%;
  color: #5C8F11;
  letter-spacing: 0.02em;
}
#content h4{
  font-size: 110%;
}
table.form, table.form td{
  border: 0px;
  font-family: Helvetica;
}
table.border{
  width: 90%;
  border: 1px solid orange;
  font-weight: bold;
}
table.form td.legend{
  border: 1px;
  font-weight: bold;
}

table {

}
table thead tr {
    background: #CDD3FE;
}
table thead th {
/*  background-image: url('/images/tab_bg.png');*/
  padding: 0px;
  color: #444;
  text-align: left;
  font-size: 1.2em;
}

table tfoot td {
  background: #888;
  color: #fff;
  text-align: left;
}
tr.odd {
  background: #fbf8f1;
}
tr.total {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   font-weight: bold;
}
td {
  vertical-align: top;
}
td.numeric {
  text-align: center;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}
table.narrow {
  width: 100%;
}
table.narrow td, table.narrow th{
  padding: 2px;
  margin-top: 4px;
}
table.narrow th{
    background-color: #ccc;
    color: black;   
}
table.narrow tr.group{
    text-align: center;
    background: #eee;    
}
table.narrow tr.group td{
    font-weight: bold;
} 
/* .container .error, .container .notice, .container .success */
#flash-messages
{
}
.flash
{
margin-top: 15px;
padding: 0px;
text-align: center;
}
.flash p
{
font-weight: bold;
margin: 0px;
}

.container .notice {
}

.error h2{
  color: #8a1f11;
  font-size: 120%;
  padding: 0px 15px 0px 15px;
  border: 0px;
}

input[type="text"], input[type="password"], textarea {
  font-size: 100%;
  font-family: sans;
  background: #FFFFFF url(/images/fieldbg.gif) repeat-x scroll center top

}

.asterisk {
  font-weight: bold;
  color: #a00;
}

.greytext {
  font-size: 90%;
  color: #888;
}

img.banner {
border: solid 1px #33a;
}


span.red   { color: #d33; }
span.green { color: #3d3; }

/**************************************/
/*               FOOTER               */
/**************************************/

#footer
{
margin-top: 0px;
margin-bottom: 20px;
text-align: center;
color: #666;
font-size: 11px;
}
#footer a:link, #footer a:visited, #footer a:active
{
    color: #222;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

.debug-info {
  text-align: left;
}

/* at the bottom so it has preference */
a.nopic { background:none; padding:0; margin:0; }

a.add, a.add:visited, a.add:link {
  background-image: url(/images/add.png);
  background-repeat: no-repeat;
  /* background-color: #62ed1e; */
  background-position: 1px 3px;
  /*border-color: #9AFF20 #4AB517 #4AB517 #9AFF20;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;*/
  padding: 3px 0px 4px 30px;
  color: #2c2c2c;
  font-size: 16px;
  padding: 6px 35px 4px;
  margin: 5px 5px 10px;
}

a.add_small, a.add_small:visited, a.add_small:link {
  background-image: url(/images/add_small.jpg);
  background-repeat: no-repeat;
  padding: 0px 0px 0px 20px;
  color: #black;
  font-size: 16px;
  font-weight: lighter
}

a.edit, a.edit:visited, a.edit:link {
  background-image: url(/images/edit.png);
  background-repeat: no-repeat;
  padding: 3px 0px 4px 30px;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

a.edit_small, a.edit_small:visited, a.edit_small:link {
  background-image: url(/images/edit_small.jpg);
  background-repeat: no-repeat;
  padding: 0px 0px 0px 20px;
  color: #black;
  font-size: 16px;
  font-weight: lighter
}

a.delete, a.delete:visited, a.delete:link {
  background-image: url(/images/delete.png);
  background-repeat: no-repeat;
  padding: 3px 0px 4px 30px;
  color: #77B4D9;
  font-size: 16px;
  font-weight: lighter
}

a.browse, a.browse:visited, a.browse:link {
  background-image: url(/images/browse.jpeg);
  background-repeat: no-repeat;
  padding: 3px 0px 4px 30px;
  color: #77B4D9;
  font-size: 16px;
  font-weight: lighter
}

a.bold {
  font-weight: bold;
  font-size: 1.2em;
  color: #2b2214;
  text-decoration: underline;
}
a.bold:visited {
  font-weight: bold;
  font-size: 1.2em;
  color: #2b2214;
  text-decoration: underline;
}
a.button:link {
  background-color: darkorange;
  color: white;
  padding: 4px;
  border: orange solid 1px;
  margin: 3px;
}
a.button:visited {
  background-color: darkorange;
  color: white;
  padding: 4px;
  border: orange solid 1px;
  margin: 3px;
}

#header
{
  background: #fff;
  background-position: 125px 0px;
  height: 100px;
  border-top: 5px solid #75b516;
  width: 100%;
  position: relative;
}
#search_div {
	display: none;
}

#header_search_div {
    position: absolute; 
    right: 10%;
    padding: 3px;
    padding-bottom: 0px;    
    vertical-align: top;
    top: -12px;
}
#header_search_div input{
    font-size: 1.5em;
    border: 1px solid #75b516;
}

div.log_box{
    border: 2px solid #8DC73F;
    height: 400px;
    width: 90%;
    padding-left: 10px;
    overflow-y: auto;
}
table#data_entry_index{
    padding: 0em;   
}
table#data_entry_index tr td{
    padding: 0em;   
}
table#data_entry_index tr td img{
    padding-left: 2em;   
}


#darkenBackground {
background-color: rgb(0, 0, 0);
opacity: 0.7; /* Safari, Opera */
-moz-opacity:0.70; /* FireFox */
filter: alpha(opacity=70); /* IE */
z-index: 20;
height: 100%;
width: 100%;
background-repeat:repeat;
position:fixed;
top: 0px;
left: 0px;
display: none;
}

#loading {
  width:66%;
  position: relative;
  left: 16%;
  top: 33%;
  height: 33%;
  font-size: 32px;
  background: #999;
  -moz-border-radius: 10px;
  -moz-opacity: 1.0;
  padding: 30px;
  padding-top: 55px;
}

table.report{
    width: 100%;
    border: 1px solid;
    border-color: #ccc;
    text-align: right;
    padding: 0px;
}
table.report tr{
    border: 1px solid;
    border-color: #ccc;
    padding: 0px;
}
table.report th{
    border: 1px solid;
    border-color: #ccc;
    text-align: center;
    font-size: 0.95em;
    background-color: #97b994;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}
table.report tbody{
}
table.report td{
    border: 1px solid;
    border-color: #ccc;
    font-size: 0.95em;
}
table.report tr td.text{
    text-align: left;
}
table.report tr td.text a{
    float: left;
}
table.report tr td.number{
    text-align: right;
}
table.report tr.group td:first-child{
    text-align: center; 
    background-color: #eee;
    font-size: 0.95em;
}
table.report tr.branch{
    text-align: center; 
    background-color: #ccc;
    font-size: 0.95em;
}
table.report tr.center{
    border: 1px solid;
    border-color: #ccc;
    text-align: center;
    font-size: 1em; 
    background-color: #ddd;
}
table.report tr.year{
    border: 1px solid;
    border-color: #ccc;
    text-align: center;
    font-size: 1em; 
    background-color: #ddd;
}
table.report tr.manager{
    border: 1px solid;
    border-color: #ccc;
    text-align: center;
    font-size: 1em; 
    background-color: #ccc;
}
table.report tr.quarter{
    border: 1px solid;
    border-color: #eee;
    text-align: center;
    font-size: 1em; 
    background-color: #eee;
}
table.report tr.group_total td:first-child{
    text-align: center; 
    background-color: #eee;    
}
table.report tr.center_total td:first-child{
    text-align: center; 
    background-color: #ddd;
}
table.report tr.year_total td:first-child{
    text-align: center; 
    background-color: #ddd;
}
table.report tr.branch_total td:first-child{
    text-align: center; 
    background-color: #ccc;    
}
table.report tr.align_left{
    text-align: left;
}
table.report tr.total{
    text-align: right;
    font-weight: bold;
}
table.report tr td a{
    color: blue;
    float: right;
    cursor: pointer;
}
a.expand_all{
    color: blue;
    float: right;
    cursor: pointer; 
}
a.collapse_all{
    color: blue;
    float: right;
    cursor: pointer; 
}
a.moreinfo{
    color: blue;
    cursor: pointer; 
}
a.lessinfo{
    color: blue;
    cursor: pointer; 
}
table.moreinfo{
    background: #eee;    
}
table.moreinfo tr td:first-child{
    font-weight: bold;
}
h3.blocked{
    width: 60%;
    text-align: center;
    background-color: #eee;
    color: #E88E02;
    padding: 10px;
    font-family: Helvetica;
    font-size: 15px;
}
div.tab_container{
    border: 1px solid #CDD3FE;
}
div.tab_container ul.tabs{
    margin-left: 0px;
    background-color: #CDD3FE;
    height: 45px;
    border-bottom: 3px solid #CDD3FE;
}
div.tab_container ul.tabs li{
    display: inline;
    padding: 5px;
    cursor: pointer;   
    margin-top: 25px;
    margin-right: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CDD3FE;
    position: relative;
    top: 25px;
    border: 1px solid #EDF3FE;
    font-weight: strong;
}
div.tab_container ul.tabs li.active{
    border-bottom: 3px solid white;
    background-color: white;
}

div.inner{
    border: 0px;
}
div.inner ul{
    margin-left: 0px;
    height: 45px;
}
div.inner ul li{
    display: inline;
    padding: 5px;
    cursor: pointer;   
}
div.inner ul li.active{
    border-bottom: 3px solid white;
    background-color: white;
}


table.comments{
    margin: 0px;
    width: 80%; 
    border: 0px;
    margin-left: 10px;
}
table.comments tr td{
    padding-bottom: 20px;
}
table.comments tr.even td{
    padding-bottom: 0px;
}
table.comments tr.odd td{
    padding-bottom: 0px;
}
table.comments tr td span{
    color: #aaa;
}


form.form {
/*  background-color: #F6E8B1; */
/*  background-color: #F5F6D4; */
  border: solid 2px #696C82;
  font-family: "Lucida Grande";
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 0px;

}

form h1 {
  font-family: "Lucida Grande", Helvetica, sans;
   background-color: #CEFF85;
  line-height: 2em;
  margin: 0px;
  color: #3c3c3c;
  text-indent: 15px;
  letter-spacing: -0.07em;
}
fieldset {
  border: 0px;
  margin: 0px;
}

form.form label {
  display: block;
  text-align: left;
}
label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
form.form td {
  vertical-align: middle;
}

form p {
  padding: 7px 7px;
/*  border-bottom: solid 1px lightgrey; */
  margin-bottom: 0px;
}

legend {
  margin: 0px;
  padding: 10px;
  background: #B7CA79;
  color: white;
  -moz-box-shadow: 2px 2px 2px grey;
}

_button {
  background: url(/images/tick.png) no-repeat #B7CA79 10px 6px;
  text-indent: 30px;
  font-size: 16px;
  padding: 4px;
}

button.add_ {
  background-image: url(/images/add.png);
  background-repeat: no-repeat;
  background-color: #62ed1e;
  background-position: 1px 3px;
  border-color: #9AFF20 #4AB517 #4AB517 #9AFF20;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px 0px 4px 30px;
  color: #2c2c2c;
  font-size: 16px;
  padding: 6px 35px 4px;
  margin: 5px 5px 10px;
}

table.tall {
  border: solid 2px lightgrey;
}

table.tall thead {
  background-color: #FBF8F1;
  font-weight: bold;
  border-bottom: solid 1px lightgrey;
}
table.tall th {
  background-color: #FBF8F1;
  padding: 10px 10px 10px 40px;
  text-align: right;
}
.floating_form{
    position: absolute;
    background: lightyellow;
    padding: 10px;
    border: 1px solid orange;
}
.floater{
    position: absolute;
    border: 2px solid orange;    
    padding: 10px;
    background: #ccc;
    z-index: 2;
}
.close_button{
    position: absolute;
    right: -10px;
    top: -10px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}