%h1== Edit staff member by the name '#{@staff_member.name}' 

= error_messages_for @staff_member

= form_for(@staff_member, :action => url(:staff_member, @staff_member)) do
  = partial :fields, :submit_text => "Save changes"