%h1
  StaffMembers controller, show action
%p
  Edit this file in
  %tt
    app/views/staff_members/show.html.erb

= link_to 'Edit',  url(:edit_staff_member,  @staff_member)
|
= link_to 'Back', url(:staff_members)