%h1 
  = @staff_member.name
%table
  %tr
    %th
      Centers
    %td
      @staff_member.centers.count
    %th

= link_to 'Edit',  url(:edit_staff_member,  @staff_member)
|
= link_to 'Back', url(:staff_members)