%h1 Insurance Product: #{@insurance_product.name} 
%h2 Insurance Company: #{@insurance_product.insurance_company.name}

= link_to 'Edit',  url(:edit_insurance_product,  @insurance_product)
|
= link_to 'Back', url(:insurance_products)
