- if loans_to_approve.size > 0
  %table.narrow.form{ :width => '100%'}
    %thead
      %tr{:style => "font-size: 0.85em;"}
        %th
          =I18n.t "center.approval.table.name", :default => "Name"
        %th
          =I18n.t "center.approval.table.sch_date", :default => "Scheduled Disbursal Date"
        %th
          =I18n.t "center.approval.table.status", :default => "Status"
    - loans_to_approve.group_by{|x| x.client.client_group}.sort_by{|x| x[0] ? x[0].name : ""}.each do |group, loans|
      %tr.group
        %td{:colspan => 5}
          - if group
            %b
              = group.name
              (
              =link_to('edit', resource(@branch, @center, group, :edit))
              )
          -else
            =I18n.t "center.approval.no_center", :default => "Not attached to any center"
      -loans.each do |loan|
        %tr
          %td
            = loan.client.name
          %td
            = loan.scheduled_disbursal_date
          %td
            - late =  @date - loan.scheduled_disbursal_date rescue 0
            - if late > 0
              == "#{late} days late"
            - else
              =I18n.t "center.approval.table.on_time", :default => "on time"
- else
  =I18n.t "center.approval.not_approval", :default => "No approvals today"

