- debugger
- if loans_to_disburse.size > 0
  %table.narrow.form{ :width => '100%'}
    %thead
      %tr{:style => "font-size: 0.85em;"}
        %th
          =I18n.t "center.disbursal.table.name", :default => "Name"
        %th
          =I18n.t "center.disbursal.table.sch_date", :default => "Scheduled Disbursal Date"
        %th
          =I18n.t "center.disbursal.table.status", :default => "Status"
    - loans_to_disburse.group_by{|x| x.client.client_group}.sort_by{|x| x[0].nil? ? "no group" : x[0].name}.each do |group, loans|
      %tr.group
        %td{:colspan => 5}
          - if group
            %b
              = group.name
              (
              =link_to('edit', resource(branch, center, group, :edit))
              )
          -else
            =I18n.t "center.disbursal.no_group", :default => "Not attached to any group"
      -loans.each do |loan|
        %tr
          %td
            = loan.client.name
          %td
            = loan.scheduled_disbursal_date
          %td
            - late =  date - loan.scheduled_disbursal_date
            - if late > 0
              == "#{late} days late"
            - else
              =I18n.t "center.disbursal.on_time", :default => "on time"
- else
  =I18n.t "center.disbursal.not_disbursal", :default => "No disbursals today"
