%table.form
  %tr
    %td
      Center name:
    %td
      = text_field :name, :size => 40
  %tr
    %td
      Meeting day:
    %td
      = text_field :meeting_day, :size => 40
  %tr
    %td
      Meeting time:
    %td
      = text_field :meeting_time, :size => 40
  %tr
    %td
      Manager:
    %td
      = text_field :staff_member_id, :size => 40
      %br/
      %span.greytext (just a staffmember id)