- form_url   = (@branch ? resource(@branch, :centers) : resource(:centers, {:return => params[:return]}))
- cancel_url = params[:return] ? "/"+params[:return] : resource(@branch)
= form_for(@center, :action => form_url, :class => "form") do
  %h1 Create new center
  = error_messages_for @center
  %fieldset
    = partial("centers/fields", :submit_text => 'Create new center', :cancel_url => cancel_url)
