%div.tab_container
  %ul.tabs
    %li#basic_info Basic info
    %li#bank_account_data Bank Account Data
    %li#family_details Family Details
    %li#income_information Income Information
    %li#poverty_overview Poverty Overview
    %li#demographic_data Demographic Data
  %div.tab
    =partial 'clients/basic_info'
  %div.tab
    =partial 'clients/bank_account_data'
  %div.tab
    =partial 'clients/family_details'
  %div.tab
    =partial 'clients/income_information'
  %div.tab
    =partial 'clients/poverty_overview'
  %div.tab
    =partial 'clients/demographic_data'
