%h1== Edit the '#{@client.name}' client details

= error_messages_for @client

= form_for(@client, :action => resource(@branch, @center, @client), :multipart => true) do
  = partial :fields, :submit_text => "Save changes", :cancel_link => resource(@branch, @center, :clients)