%h1 Add a new client

= error_messages_for @client

= form_for(@client, :action => resource(@branch, @center, :clients), :multipart => true) do
  = partial :fields, :submit_text => "Add client", :cancel_link => resource(@branch, @center, :clients)