%h1
  == Client '#{@client.name}'
%p
  Edit this file in
  %tt
    app/views/client/show.html.erb

= link_to 'Edit',  resource(@branch, @center, @client, :edit)
|
= link_to 'Back', resource(@branch, @center, :clients)