= link_to 'Add an account type', url(:new_account_type), :class => "_remote_ add"
%br
%br
%table.form.narrow
  %tr
    %thead
      %th
        Account Type
      %th
        GL Code
      %th
        Actions
  - for account_type in @account_types
    %tr{:class => cycle('odd','even')}
      %td
        = account_type.name
      %td
        = account_type.code
      %td
        = link_to 'Edit', url(:edit_account_type, account_type)


