%table
  %tr
    %th
      Account Type
    %th
      GL Code
  %tr
  - for account_type in @account_types
    %tr
      %td
        = account_type.name
      %td
        = link_to account_type.code, url(:edit_account_type, account_type)
      

= link_to 'New Account Type',url(:new_account_type)
= link_to 'Manage Account', url(:new_account)
