%h1
  AccountTypes controller, show action
%p
  Edit this file in
  %tt
    app/views/account_types/show.html.erb

= link_to 'Edit',  url(:edit_account_type,  @account_type)
|
= link_to 'Back', url(:account_types)