%h1 Add a new client

= error_messages_for @client

= form_for(@client, :action => url(:enter_clients, :action => 'create')) do
  = partial 'clients/fields', :submit_text => "Add client", :cancel_link => url(:enter_clients)

