%h1
  DocumentTypes controller, show action
%p
  Edit this file in
  %tt
    app/views/document_types/show.html.erb

= link_to 'Edit',  url(:edit_document_type,  @document_type)
|
= link_to 'Back', url(:document_types)