%h1
  AccountBalances controller, show action
%p
  Edit this file in
  %tt
    app/views/account_balances/show.html.erb

= link_to 'Edit',  url(:edit_account_balance,  @account_balance)
|
= link_to 'Back', url(:account_balances)