%h1
  LedgerEntries controller, show action
%p
  Edit this file in
  %tt
    app/views/ledger_entries/show.html.erb

= link_to 'Edit',  url(:edit_ledger_entry,  @ledger_entry)
|
= link_to 'Back', url(:ledger_entries)