= error_messages_for @document
= form_for(@document, :action => url(:document, @document)) do
  =partial :fields
  %tr
    %td
    %td
      = submit "Save"
=link_to("back", resource(:documents)) if not request.xhr?
