%table.form
  %tr
    %th Name
    %td 
      = text_field :name
  %tr
    %th
      Begin date 
    %td
      = date_select_for @accounting_period, :begin_date, :nullable => false, :min_date => Date.min_date, :max_date => Date.today+365
  %tr
    %th
      End date 
    %td
      = date_select_for @accounting_period, :end_date, :nullable => false, :min_date => Date.min_date, :max_date =>  Date.today+(2*365)
