%h1
  AccountingPeriods controller, show action
%p
  Edit this file in
  %tt
    app/views/accounting_periods/show.html.erb

= link_to 'Edit',  url(:edit_accounting_period,  @accounting_period)
|
= link_to 'Back', url(:accounting_periods)