%h1
  ClientGroups controller, show action
%p
  Edit this file in
  %tt
    app/views/client_groups/show.html.erb

= link_to 'Edit',  url(:edit_client_group,  @client_group)
|
= link_to 'Back', url(:client_groups)