%h1
  RepaymentStyles controller, show action
%p
  Edit this file in
  %tt
    app/views/repayment_styles/show.html.erb

= link_to 'Edit',  url(:edit_repayment_style,  @repayment_style)
|
= link_to 'Back', url(:repayment_styles)