%h1
  == Loan '#{@loan.id}'
%p
  Edit this file in
  %tt
    app/views/loan/show.html.erb

= link_to 'Edit',  resource(@branch, @center, @client, @loan, :edit)
|
= link_to 'Back', resource(@branch, @center, @client, :loans)