- @date = Date.parse(params[:date]) || Date.today
%div#stats{:style => "position: relative; top: -15px;"}
  %table#menu
    %thead
      %tr.selected
        %th{:colspan => 4}
          %h1
            = link_to image_tag('/images/previous-grey.png'), url(:browse, :date => @date - 1)
            - if @date == Date.today
              today
            - else
              = @date
            = link_to image_tag('/images/next-grey.png'), url(:browse, :date => @date + 1)
            
      %tr
        %td
          %div{:style => 'padding: 15px'}
            No reporting data seems to have been generated for today. 
            = link_to('Generate now', url({:controller => :cachers, :action => :generate, :date => @date}))