%h1 Browse

%h3
  Here you will find some convenience functions to browse your MFI

= link_to 'Branches', resource(:branches), :class => 'browse'
%br

- Misfit::Extensions::Browse.instance_methods.each do |m|
  = link_to m.humanize, url(:browse, m), :class => 'browse'