%h1 Browse

%h3
  Here you will find some convenience functions to browse your MFI

%ul
  %li
    = link_to('Branches', url(:browse, :action => 'branches'), :class => 'edit')
  %li
    = link_to('Staff members', resource(:staff_members), :class => 'edit')
  - (Misfit::Extensions::Browse.instance_methods - ["before"]).each do |m|
    %li
      = link_to(m.humanize, url(:browse, m), :class => 'edit')
  %li
    = link_to_with_rights 'Approvals', resource(:approvals), :class => 'edit'
