%h1
  LoanUtilizations controller, show action
%p
  Edit this file in
  %tt
    app/views/loan_utilizations/show.html.erb

= link_to 'Edit',  url(:edit_loan_utilization,  @loan_utilization)
|
= link_to 'Back', url(:loan_utilizations)