%h1== Are you sure you want to delete payment '#{@payment.id}'?

= form_for(@payment, :action => resource(@branch, @center, @client, @loan, @payment), :method => :delete) do
  = submit "Delete it!"

= link_to 'Back', url_for_loan(@loan, 'payments')