%h1
  == Payment '#{@payment.id}'
%p
  Edit this file in
  %tt
    app/views/payment/show.html.erb

= link_to 'Edit',  resource(@branch, @center, @client, @loan, @payment, :edit)
|
= link_to 'Back', resource(@branch, @center, @client, @loan, :payments)