%h1 Generate Collection sheet
%table
  %tr
    %th
      ID
    %th
      Staff Name
  - @data.each do |staff|
    %tr
      %td
        = staff.id
      %td
        = staff.name
      %td
        = link_to 'Generate sheet',url(:day_sheet,staff.id)