%table
  %tr
    %td
      Name
    %td
      =text_field :name
  %tr
    %td
      GL Code
    %td
      =text_field :gl_code
  %tr
    %td
      Parent GL Code
    %td
      =select :parent_gl_code, :collection => ChartOfAccount.all.map{|a| [a.gl_code, a.gl_code]}.sort
  %tr
    %td
      Account Type
    %td
      =text_field :account_type

