%h1
  ChartOfAccounts controller, show action
%p
  Edit this file in
  %tt
    app/views/chart_of_accounts/show.html.erb

= link_to 'Edit',  url(:edit_chart_of_account,  @chart_of_account)
|
= link_to 'Back', url(:chart_of_accounts)
