%h1 Mostfit advanced search tool
=form(:id => "reporting_form",  :action => "/search/reporting") do
  %table
    =partial :form
  %hr
  %a{:class => "_customreports_ self", :href => "/search/fields"}
    Choose fields
