%table
  %tr
    %td
      Journal Type
    %td
      =select :name => "journal[journal_type_id]", :collection => JournalType.all.map{|x| [x.id, x.name]}, :prompt=> "Select Journal"
  %tr
    %td
      Credit account
    %td
      = select_accounts("credit_account[account_id]", @branch)
  %tr
    %td
      Debit account
    %td
      = select_accounts("debit_account[account_id]", @branch)
  %tr
    %td
      Date
    %td
      =date_select_for @journal, :date
  %tr
    %td
      Amount
    %td
      =text_field :name => "journal[amount]"
  %tr
    %td
      Comment
    %td
      =text_field :name => "journal[comment]"
  %tr
    %td
      Transaction ID
    %td
      =text_field :name => "journal[transaction_id]"
%p
  = submit "Create"
