%table
  %tr
    %th
      Date
    %th 
      Journal ID  
    %th 
      Amount
    %th 
      Comment  


  -Account.all(:branch => @branch).postings.journals(:order => [:date.desc], :order => [:id.desc]).each do |journal|
    %tr
      %td
        = journal.date.strftime("%Y/%m/%d")
      %td 
        = journal.id
      %td 
        = journal.postings.first.amount.abs
      %td 
        = journal.comment
