%table
  %tr
    %th
      Date
    %th 
      Journal ID  
    %th 
      Amount
    %th 
      Comment  


  -Account.all(:branch => @branch).postings.journals(:order => [ :date.desc ]).each do |journal|
    %tr
      %td
        = journal.date
      %td 
        = journal.id
      %td 
        = journal.postings.first.amount.abs
      %td 
        = journal.comment
