%h1
  Journals
%table
  %tr
  - for journal in @journals
    %tr
      %td
        = link_to 'Show', url(:journal, journal)
      %td
        = link_to 'Edit', url(:edit_journal,  journal)

= link_to 'New', url(:new_journal)
