%h1 New Journal Entry

= error_messages_for @journal

= form_for(@journal, :action => (@branch ? resource(@branch, :journals) : resource(:journals))) do
  = partial :fields
= link_to 'Back', (@branch ? resource(@branch) : url(:accounts))
