%h1 Fees controller, new action

%p 
  Edit this file in 
  %tt app/views/fees/new.html.erb

= error_messages_for @fee

= form_for(@fee, :action => url(:fees) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:fees)