%h1
  StaffMemberAttendances controller, show action
%p
  Edit this file in
  %tt
    app/views/staff_member_attendances/show.html.erb

= link_to 'Edit',  url(:edit_staff_member_attendance,  @staff_member_attendance)
|
= link_to 'Back', url(:staff_member_attendances)