%h1 
  Attendance 
  = "for client #{@client.name}" if @client

%table
  %thead
    %tr
      %th
        Date
      %th
        Status
  - @attendances.each do |a|
    %tr{:class => cycle('odd','even')}
      %td
        = a.date
      %td
        = a.status

