= form_for(@report, :action => url(:show_report, :report_type => "ConsolidatedReport"), :method => :get) do
  %table
    %tr
      %td
        Consolidated report for
      %td
        =date_select_for(@report, "from_date", :date => @report.from_date)
      %td
        =date_select_for(@report, "to_date", :date => @report.to_date)
      %td
        =submit "Go"

%table.report
  %tr
    %th
      Group
    %th{:colspan => "3"}
      Amount
    %th{:colspan => "3"}
      Payment
    %th{:colspan => "3"}
      Balance outstanding
    %th{:colspan => "2"}
      Payment shortfall
    %th
      No. of defaults
  %tr
    %th
    %th
      Applied
    %th
      Sanctioned
    %th
      Disbursed
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Principal
    %th
      Interest
    %th
      Total
    %th
      Principal
    %th
      Total
    %th
  - center_id, branch_id = nil, nil
  - length = @groups.values.first.length
  -@groups.each do |group_id, centers|
    -if centers.keys.length>0
      -branch_total = []
      %tr
        %td.group{:colspan => length}
          %b
            =@branches[group_id].name
      -centers.sort_by{|center_id, groups| @centers[center_id].name}.each do |center_id, groups|
        -if groups.keys.length>0
          %tr
            %td.center{:colspan => length}
              %b
                =@centers[center_id].name
          - center_total = Array.new(length-1, 0)
          -groups.sort_by{|group_id, group| group[-1]}.each do |group_id, group|
            %tr
              %td{:style => "text-align: center; background-color: #efefef;"}
                =group[-1]
              -group[0..-2].each_with_index do |g, idx|
                %td
                  =g
                  -center_total[idx]+=g
          %tr
            %td{:style => "text-align: center; background-color: #efefef;"}
              %b==Center total:
              -branch_total.push(center_total)
            -center_total.each do |ele|
              %td
                %b
                  =ele
      %tr
        %td{:style => "text-align: center; background-color: #ccc;"}
          %b==Branch total
        -branch_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}.each do |ele|
          %td
            %b
              =ele

