= form_for(@report, :action => url(:show_report, :report_type => "DailyReport"), :method => :get) do
  %table
    %tr
      %td
        Daily report for
      %td
        =date_select_for(@report, "date", :date => @report.date)
      %td
        =submit "Go"
%table.report
  %tr.header
    %th
      Group
    %th{:colspan => "3"}
      Amount
    %th{:colspan => "3"}
      Payment
    %th{:colspan => "3"}
      Balance outstanding
    %th
      No. of defaults
  %tr.header
    %th
    %th
      Applied
    %th
      Sanctioned
    %th
      Disbursed
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Principal
    %th
      Interest
    %th
      Total
    %th
  - center_id, branch_id = nil, nil
  -@groups.each do |group_id, centers|
    -if centers.keys.length>0
      -branch_total = []
      %tr.branch
        %td{:colspan => "11"}
          %b
            =@branches[group_id].name
      -centers.each do |center_id, groups|
        -if groups.keys.length>0
          %tr.center
            %td{:colspan => "11"}
              %b
                =@centers[center_id].name
          - center_total = Array.new(groups.values.first.length-1, 0)
          -groups.each do |group_id, group|
            %tr.group
              %td
                =group[-1]
              -group[0..-2].each_with_index do |g, idx|
                %td
                  =g
                  -center_total[idx]+=g
          %tr.center_total
            %td
              %b==Center total:
              -branch_total.push(center_total)
            -center_total.each do |ele|
              %td
                %b
                  =ele
      %tr.branch_total
        %td
          %b==Branch total
        -branch_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}.each do |ele|
          %td
            %b
              =ele

