%table{:style => "border: 1px solid #ccc;"}
  %tr{:style => "border: 1px solid #ccc; background-color: #97b994; color: white;"}
    %th
      Group
    %th
      Amount applied
    %th
      Amount sanctioned
    %th
      Amount disbursed
    %th
      Balance outstanding
    %th
      Principal paid back
    %th
      Interest collected
    %th
      Processing fee
    %th
      No. of defaults
  - center_id, branch_id = nil, nil
  -@groups.each do |group_id, centers|
    -if centers.keys.length>0
      -branch_total = []
      %tr
        %td{:colspan => "9", :style => "text-align: center; background-color: #ddd;"}
          %b
            =@branches[group_id].name
      -centers.each do |center_id, groups|
        -if groups.keys.length>0
          %tr
            %td{:colspan => "9", :style => "text-align: center; background-color: #efefef;"}
              %b
                =@centers[center_id].name
          - center_total = Array.new(groups.values.first.length-1, 0)
          -groups.each do |group_id, group|
            %tr
              %td
                =group[-1]
              -group[0..-2].each_with_index do |g, idx|
                %td
                  =g
                  -center_total[idx]+=g
          %tr
            %td
              %b==Center total:
              -branch_total.push(center_total)
            -center_total.each do |ele|
              %td
                %b
                  =ele
      %tr
        %td
          %b==Branch total
        -branch_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}.each do |ele|
          %td
            %b
              =ele

= form_for(@report, :action => url(:show_report, :report_type => "DailyReport"), :method => :get) do
  %table
    %tr
      %td
        Daily report for
      %td
        =date_select_for(@report, "date", :date => @report.date)
      %td
        =submit "Go"

