- if not params[:layout] 
  = form_for(@report, :action => url(:show_report, :report_type => params[:report_type]), :method => :get) do
    %table
      %tr
        - report = @report.class.to_s.snake_case
        - branch_id = (params[report] and params[report][:branch_id]) ? params[report][:branch_id] : nil
        - center_id = (params[report] and params[report][:center_id]) ? params[report][:center_id] : nil
        - loan_product_id = (params[report] and params[report][:loan_product_id]) ? params[report][:loan_product_id] : nil
        - staff_member_id = (params[report] and params[report][:staff_member_id]) ? params[report][:staff_member_id] : nil
        - if @report.respond_to?(:from_date)
          %td
            From
            =date_select_for(@report, "from_date", :date => @report.from_date)
        -if @report.respond_to?(:to_date)
          %td
            To
            =date_select_for(@report, "to_date", :date => @report.to_date)
        -if @report.respond_to?(:date)
          %td
            Date
            =date_select_for(@report, "date", :date => @report.date)
        -if @report.respond_to?(:loan_product_id)
          %td
            Product
            =select(:loan_product_id, :collection => LoanProduct.all.map{|x| [x.id, x.name]}, :include_blank => true, :selected => loan_product_id)
        -if @report.respond_to?(:late_by_days)
          %td
            Late by more than:
            =text_field(:late_by_days, :size => 10)
            days
        -if @report.respond_to?(:absent_more_than)
          %td
            Absent by more than:
            =text_field(:absent_more_than, :size => 3)
            days
      %tr
        - if @report.respond_to?(:branch_id)
          %td
            Branch: 
            =select(:branch_id , :collection => get_accessible_branches, :value_method => :id, :text_method => :name, :include_blank => true, :selected => branch_id)
        - if @report.respond_to?(:center_id)
          %td
            Center:          
            =select(:center_id , :collection => get_accessible_centers(branch_id), :include_blank => true, :selected => center_id)
        - if @report.respond_to?(:staff_member_id)
          %td
            Staff member:
            =select(:staff_member_id , :collection => get_accessible_staff_members, :include_blank => true, :selected => staff_member_id)
        %td
          =submit "Go"
