%tr.header
  - @report.headers.each do |colgroup|
    - key, cols = colgroup.keys[0], colgroup.values[0]
    %th{:colspan => cols.length}
      = key
%tr.header
  - @report.headers.map{|h| h.values}.flatten.each do |col|
    %th
      = col
