=partial :form
- length = 5
%table.report
  %tr.header
    %th
      Client Id
    %th
      Reference
    %th
      Name
    %th
      Joining Date
    %th
      GRT Pass Date
    %th
      Scheduled Disbursal Date
    %th
      Delayed By
  - length = 6
  - org_total = 0
  - @data.sort_by{|branch, x| branch.name}.each do |branch, centers|
    -if centers.keys.length>0
      -branch_total = 0
      %tr.branch
        %td{:colspan => length+1}
          %b
            =branch.name
      -centers.sort_by{|center, data| center.name}.each do |center, clients|
        -if clients.length>0
          %tr.center#client
            %td{:colspan => length+1}
              %b
                =center.name
          - count = 0
          - clients.each do |client|
            %tr.client
              - count += 1
              - client.each_with_index do |d, i|
                %td
                  = d
          %tr.center_total
            %td
              - branch_total += count
              %b
                = count
            - length.times do 
              %td
      %tr.branch_total
        %td
          %b
            = branch_total
            - org_total += branch_total
        - length.times do 
          %td
  %tr.org_total
    %td
      %b
        = org_total
    - length.times do 
      %td

