=partial :form
%table.report
  %tr.header
    %th
      Group
    %th{:colspan => "1"}
      Disbursal scheduled
    %th{:colspan => "4"}
      Payment scheduled
    %th{:colspan => "4"}
      Balance outstanding
  %tr.header
    %th
    %th
      Amount
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Total
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Total
  - center_id, branch_id = nil, nil
  - length = 9
  - org_total = []
  -@groups.each do |group_id, centers|
    -if centers.keys.length>0
      -branch_total = []
      %tr.branch
        %td{:colspan => length+1}
          %b
            =@branches[group_id].name
      -centers.sort_by{|center_id, groups| @centers[center_id].name}.each do |center_id, groups|
        -if groups.keys.length>0
          %tr.center
            %td{:colspan => length+1}
              %b
                =@centers[center_id].name
          - center_total = Array.new(length, 0)
          -groups.sort_by{|group_id, group| group[-1]}.each do |group_id, group|
            %tr.group
              %td
                =group[-1]
              -group[0..-2].each_with_index do |g, idx|
                %td
                  =g
                  -center_total[idx]+=g
          %tr.center_total
            %td
              %b==Center total:
              -branch_total.push(center_total)
            -center_total.each do |ele|
              %td
                %b
                  =ele
      %tr.branch_total
        %td
          %b==Branch total:
        - org_total << branch_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}
        -org_total.last.each do |ele|
          %td
            %b
              =ele
  %tr.org_total
    %td
      %b==Total:
    -org_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}.each do |ele|
      %td
        %b
          =ele

