=partial :form
%table.report{:class => "nojs"}
  %tr.header
    %th
      Creation date
    %th
      Attached to
    %th
      Deadline
    %th
      Assigned to
    %th
      Start value
    %th
      To reach
    %th
      Present value
    %th
      Percentage complete
    %th
      Status
  - @data.each do |target|
    %tr
      %td
        =target.created_at.strftime($globals[:mfi_details] && $globals[:mfi_details][:date_format] ? $globals[:mfi_details][:date_format] : "%d-%m-%Y")
      %td
        =target.type.to_s.camelcase(' ')
      %td
        =target.deadline
      %td                                                                          |
        = target.responsible.name
      %td
        =target.start_value
      %td
        =target.target_value
      %td
        -present_value = target.get_present_value
        -percentage    = ((present_value - target.start_value)*100.0/(target.target_value - target.start_value)).round(2)
        =present_value
      %td
        =percentage
      %td
        - if (target.deadline > Date.today)
          = percentage >= 100 ? "Reached" : "In progress"
        -else
          = percentage >= 100 ? "Reached" : "Not reached"
