= form_for(@report, :action => url(:show_report, :report_type => "TransactionLedger"), :method => :get) do
  %table
    %tr
      %td
        From date
      %td
        =date_select_for(@report, "from_date", :date => @report.from_date)
      %td
        Upto date
      %td
        =date_select_for(@report, "to_date", :date => @report.to_date)
    %tr
      %td
        - branch_id = (params[:transaction_ledger] and params[:transaction_ledger][:branch_id]) ? params[:transaction_ledger][:branch_id] : nil
        - center_id = (params[:transaction_ledger] and params[:transaction_ledger][:center_id]) ? params[:transaction_ledger][:center_id] : nil
        Branch: 
        =select(:branch_id , :collection => Branch.all, :value_method => :id, :text_method => :name, :include_blank => true, :selected => branch_id)
      %td
        Center: 
        - centers = (branch_id and not branch_id.blank?) ? Center.all(:branch_id => branch_id, :order => [:name]) : Center.all(:order => [:name])
        =select(:center_id , :collection => centers.all.map{|x| [x.id, "#{x.branch.name} -- #{x.name}"]}, :include_blank => true, :selected => center_id)
      %td
        =submit "Go"

%table.report
  %tr
    %th{:width => '20%'}
      Client
    %th{:width => '20%'}
      Date
    %th
      Disbursed
    %th{:colspan => "4"}
      Payment
  %tr
    %th
    %th
    %th
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Total
  - center_id, branch_id = nil, nil
  - length = 7

  -@clients.each do |branch_id, centers|
    -if centers.keys.length>0
      -branch_total = []
      %tr
        %td.group{:colspan => length}
          %b
            =@branches[branch_id].name
      -centers.sort_by{|center_id, groups| @centers[center_id].name}.each do |center_id, groups|
        -if groups.keys.length>0
          %tr
            %td.center{:colspan => length}
              %b
                =@centers[center_id].name
          - center_total = Array.new(length-2, 0)
          -groups.each do |group_id, clients|
            -flag=false; clients.each{|client| if @payments[client.id].keys.length>0; flag=true; end}
            -if flag
              %tr
                %td.center{:colspan => length, :style => "text-align: center; background-color: #efefef;"}
                  =@groups[group_id].name
              -clients.each_with_index do |client, idx|
                - if @payments[client.id].keys.length>0
                  -@payments[client.id].keys.sort.each_with_index do |date, idx|
                    %tr
                      %td
                        =client.name
                      %td
                        = date
                      -sum=0
                      -@payments[client.id][date].each_with_index do |e, col|
                        %td
                          =e
                          -sum+=e if col>0
                          -center_total[col]+=e
                      %td
                        =sum
                        -center_total[-1]+=sum
          %tr
            %td{:style => "text-align: center; background-color: #efefef;"}
              %b==Center total:
              -branch_total.push(center_total)
            %td
            -center_total.each do |ele|
              %td
                %b
                  =ele
      %tr
        %td{:style => "text-align: center; background-color: #ccc;"}
          %b==Branch total:
        %td
        -branch_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}.each do |ele|
          %td
            %b
              =ele

