%h1
  Reports

%table{:width => "100%"}
  %thead
    %tr
      %th
        Please choose a Report Type
        
  %tr
  - Report.descendants.each do |report|
    %tr
      %td
        = link_to report, url(:show_report, :report_type => report)

= link_to 'New Report','', :class => "button"
