%h1
  Reports

%table
  %tr
  - Report.descendants.each do |report|
    %tr
      %td
        = report
      %td
        = link_to 'Show', url(:show_report, :report_type => report)
      %td
        = link_to 'Edit'

= link_to 'New', url(:new_report)
