%h1
  Reports
- Reports::Types.to_a.sort_by{|k, v| Reports::Order.index(k)}.each do |report_type, reports|
  %h2
    = report_type.to_s.camelcase(' ')
  %ul
    - role = @user.role
    - reports.each do |report|
      %li
        - if role == :funder
          =link_to_with_rights(report.name, url(:show_report, :report_type => report))
        - else
          =link_to(report.name, url(:show_report, :report_type => report))
%h2
  =link_to_with_rights("Custom reports", resource(:bookmarks, :type => "custom_reports"))
