%h1
  Reports
/= link_to 'New Report','', :class => "add"
%table.narrow.form{:width => "100%"}
  %thead
    %tr
      %th
        Please choose a Report Type
        
  %tr
    %td
      %h3
        =link_to("Daily report", url(:show_report, :report_type => "DailyReport"))
  %tr
    %td
      %h3
        =link_to("Consolidated report", url(:show_report, :report_type => "TimeRangeReport"))
