%h1 ApiAccesses controller, new action

%p 
  Edit this file in 
  %tt app/views/api_accesses/new.html.erb

= error_messages_for @api_access

= form_for(@api_access, :action => url(:api_accesses) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:api_accesses)