%h1
  ApiAccesses controller, show action
%p
  Edit this file in
  %tt
    app/views/api_accesses/show.html.erb

= link_to 'Edit',  url(:edit_api_access,  @api_access)
|
= link_to 'Back', url(:api_accesses)