-if @render_form
  =form(:action => "/info/moreinfo/#{@obj.id}?for=#{@obj.class.name.snake_case}", :class => "_remote_") do
    %input{:type => 'hidden', :value => "moreinfo", :name => "_target_"}
    %b From
    =date_select "from_date", @from_date
    %b To
    =date_select "to_date", @to_date
    =submit "GO"
%table.moreinfo#moreinfo
  %tr
    %td
      ="#{@obj.class.name} formation date"
    %td
      =@obj.creation_date
  -if @areas
    %tr
      %td
        Number of Areas
      %td
        =@areas.count
  %tr
    %td
      &nbsp;
    %td
      %b New
    %td
      %b Total
  -if @branches
    %tr
      %td
        Number of Branches
      %td
        =@branches[:new].count
      %td
        =@branches[:upto].count
  -if @centers and not @obj.class==Center
    %tr
      %td
        Number of Centers
      %td
        =@centers_new_count
      %td
        =@centers_upto_count
  %tr
    %td
      Number of Groups
    %td
      -if @groups_new_count then
        =@groups_new_count
      -else
        =0
    %td
      -if @groups_upto_count
        =@groups_upto_count
      -else
        =0
  %tr
    %td
      Number of Clients
    %td
      -if @clients_new_count
        =@clients_new_count
      -else
        =0
    %td
      -if @clients_upto_count
        =@clients_upto_count
      -else
        =0
  %tr
    %td
      borrower clients
    %td
      =(@loan_disbursed and @loan_disbursed.length>0) ? @loan_disbursed.client_count : 0
    %td
      =(@total_disbursed and @total_disbursed.length>0) ? @total_disbursed.client_count : 0
  %tr
    %td
      Number of Loans
    %td
      =(@loan_disbursed) ? @loan_disbursed.loan_count : 0
    %td
      =(@total_disbursed) ? @total_disbursed.loan_count : 0
  %tr
    %td
      Amount Disbursed
    %td
      =(@loan_disbursed and @loan_disbursed.amount) ? @loan_disbursed.amount.to_currency : 0
    %td
      =(@total_disbursed and @total_disbursed.amount) ? @total_disbursed.amount.to_currency : 0
  %tr
    %td
      Principal Received
    %td
      =(@payments and @payments[:principal]) ? @payments[:principal].to_currency : "0"
    %td
      =(@total_payments and @total_payments[:principal]) ? @total_payments[:principal].to_currency : "0"
  %tr
    %td
      Interest Received
    %td
      =(@payments and @payments[:interest]) ? @payments[:interest].to_currency : "0"
    %td
      =(@total_payments and @total_payments[:interest]) ? @total_payments[:interest].to_currency : "0"
  %tr
    %td
      Fee Received
  -@fees.each do |fee, amount|
    %tr
      %td
        %b=fee
      %td
        =amount
      %td
        =@total_fees[fee]
  %tr
    %td
      Amount Outstanding
    %td
    %td
      =(@loan_data and @loan_data.length>0 and @loan_data.first.actual_outstanding_principal) ? @loan_data[0].actual_outstanding_principal.to_currency : "-"
  %tr
    %td
      Total Principal Overdue
    %td 
    %td
      =(@defaulted and @defaulted.principal_due) ? @defaulted.principal_due.to_currency : 0
  %tr
    %td
      Total Interest Overdue
    %td
    %td
      -if @defaulted and @defaulted.total_due and @defaulted.principal_due
        =(@defaulted.total_due.to_i-@defaulted.principal_due.to_i).to_currency
      -else
        0
  -if @centers and not @obj.class==StaffMember
    %tr
      %td
        Number of center managers
      %td
        =@centers[:upto].managers.count if @centers and @centers.length>0
  -if @centers and not @obj.class==StaffMember
    %tr
      %td
        Center Managers
      %td
        %ul
          =@centers[:upto].managers.collect{|sm| "<li>#{link_to(sm.name, resource(sm))}</li>"}.join
