%table
  %tr
    %td
      Account Type
    %td
      - options = [['none', '<select type>']] + (Account.account_types.map { |x| [x.to_s, x.to_s.capitalize] })[1..-1]
      = select :account_type, :collection => options
  
  %tr
    %td
      Parent Account 
    %td
     
      = select :parent_account_id, :collection => Account.all.map { |a| [a.name]} 

 
  %tr
    %td
      Name
    %td
      =text_field :name
  %tr
    %td
      GL Code
    %td
      =text_field :gl_code
