%table
  %tr
    %td
      Account Type
    %td
      = select :account_type_id, :collection => AccountType.all.map{ |a| [a.id, a.name]}, :prompt => "Select Account"
  %tr
    %td
      Parent Account
    %td 
      =select :parent_account_id

  %tr  
    %td
      Name
    %td
      =text_field :name
  %tr
    %td
      GL Code
    %td
      =text_field :gl_code
  %tr
    %td 
      Opening Balance
    %td
      =text_field :opening_balance

     
