- @journals ||= Journal.all("postings.account.branch_id" => @branch.id, :order => [:created_at.desc]).paginate(:per_page => 20, :page => params[:page] ||1 )
%div#container_journal_entries
  %h1
    Accounts
  %h3
    Journal entries
    |
    %a#new_entry{:href => "#new_entry", :onclick => "javascript: $('#new_journal_entry').toggle()"}
      New entry
  %div#new_journal_entry{:style => "display: none;"}
    = form_for(@journal, :action => resource(@branch, :journals)) do
      = partial "journals/fields", :branch => @branch
  %div    
    = partial "journals/list", :journals => @journals
