%h1 List of Accounts
%table
  %tr 
    %th
      Account Type
    %th
      Account Name
    %th
      GL Code
  - @accounts.group_by{|x|  x.account_type}.each do |account_type, accounts|
    %tr
      %td
        %b
          = account_type.name
    - accounts.each do |account|
      =  show_child_accounts(account)
                  
= link_to 'New', url(:new_account) 
| 
= link_to 'Back', url(:account_types)


