- form_url   =  resource(:accounts, {:return => params[:return]})
=error_messages_for @account

= form_for(@account, :action => form_url, :class => "form" ) do
  %h1 Create a new Account

  %fieldset
    = partial "accounts/fields"
    = submit "Create Account"
    = link_to 'Cancel', url(:accounts)

