
%table
  %tr
    %td
      Name
    %td 
      GL Code  
  %tr
    %td
      = @account.name
    %td 
      = @account.gl_code
%br
= link_to 'Edit',  url(:edit_account,  @accounts)
|
= link_to 'Back', url(:accounts)


