-unless request.xhr?
  %h1 Add a new Group

= error_messages_for @client_group
- form_url   = (params[:controller]=="data_entry/client_groups" ? url(:enter_groups, :action => "create") : resource(@branch, @center, :client_groups))
- cancel_url = (params[:controller]=="data_entry/client_groups" ? url(:enter_groups) : resource(@branch, @center, :client_groups))

= form_for(@client_group, :action => form_url, :id => "new_client_group_form") do
  = partial "client_groups/fields", :submit_text => "Create group", :cancel_link => cancel_url

