%h1 
  == Clients for #{@client_group.name}
%table.narrow
  %tr
    %thead
      %th
        id
      %th
        Name
  - @client_group.clients.each do |client|
    %tr
      %td
        = client.id
      %td
        = link_to client.name, resource(client)
  
  
= partial 'cgts/cgts'

%h2 Clients


